.quiz-card {
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}

.quiz-card .card-body button {
    white-space: normal;
}

@media only screen and (min-width: 640px) {
    .home {
        margin-left: 150px;
        margin-right: 150px;
    }
}