.sc-bdVaJa {}
 ._loading-overlay {
    position: inherit !important;
}
 .eSmrHg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    -webkit-transition: opacity ms ease-out;
    transition: opacity ms ease-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 1.2em;
    z-index: 800;
}
 .eSmrHg._loading-overlay-transition-appear, .eSmrHg._loading-overlay-transition-enter {
    opacity: 0.01;
}
 .eSmrHg._loading-overlay-transition-appear._loading-overlay-transition-appear-active, .eSmrHg._loading-overlay-transition-enter._loading-overlay-transition-enter-active {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}
 .eSmrHg._loading-overlay-transition-leave {
    opacity: 1;
}
 .eSmrHg._loading-overlay-transition-leave._loading-overlay-transition-leave-active {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}
 .sc-bwzfXH {}
 .fkRHAk {
    position: relative;
    margin: 0px auto 10px auto;
    width: 50px;
    max-height: 100%;
}
 .fkRHAk:before {
    content: '';
    display: block;
    padding-top: 100%;
}
 .sc-htpNat {}
 .kSIiDU {
    margin: auto;
}
 @-webkit-keyframes iVXCSc {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
 @keyframes iVXCSc {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
 /* sc-component-id: sc-keyframes-jVqWEn */
 @-webkit-keyframes jVqWEn {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
 @keyframes jVqWEn {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
 .sc-bxivhb {}
 .ilsAZR {
    -webkit-animation: iVXCSc 2s linear infinite;
    animation: iVXCSc 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
 .sc-ifAKCX {}
 .bqUHVp {
    -webkit-animation: jVqWEn 1.5s ease-in-out infinite;
    animation: jVqWEn 1.5s ease-in-out infinite;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke: #FFF;
}
 .message {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
} 