.filter {
    margin-left: 5% !important;
}

.search-button {
    height: 40px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 15px !important;
    margin-top: 1% !important;
}